<!--<br>price<b>timeToLeft</b>-->
{{(delayedTransport$|async)?.detail?.myOffers|json}}
<li *ngFor="let transport of (delayedTransport$|async)?.detail?.myOffers">
 {{transport.price}} <b>{{transport.timeToLeft|fromNow}}</b>
</li>
<app-form></app-form>
<p *ngIf="myOfferProperty$('myOffer','updateForm','me')|async">
  {{myOfferProperty$('myOffer','updateForm','timeToLeft')|async|fromNow}} do końca trwania twojej oferty
</p>
<p *ngIf="isEmpty()|async">

  Znaleźliśmy <b>{{myOfferProperty$('myOffer','eager','quantity')|async}}</b> chętnych ceny od <b>{{myOfferProperty$('myOffer','eager','min')|async}}</b>
  do <b>{{myOfferProperty$('myOffer','eager','max')|async}}</b> <br>
</p>

Oferty
<app-transport-offer></app-transport-offer>
