<!--<br>price<b>timeToLeft</b>-->
{{(delayedTransport$|async)?.detail?.myOffers|json}}
<li *ngFor="let transport of (delayedTransport$|async)?.detail?.myOffers">
 {{transport.price}} <b>{{transport.timeToLeft|fromNow}}</b>
</li>
<app-form></app-form>
<p *ngIf="(delayedTransport$|async)?.updateForm?.me">
  {{countDown}} do końca trwania twojej oferty
</p>
<p *ngIf="isEmpty()|async">

  Znaleźliśmy <b>{{(delayedTransport$|async)?.eager?.quantity}}</b> chętnych ceny od <b>{{ (delayedTransport$|async)?.eager?.min}}</b>
  do <b>{{(delayedTransport$|async)?.eager?.max}}</b> <br>
</p>

Oferty
<app-transport-offer></app-transport-offer>
